header {
    background: #202C86;
    padding: 15px 20px;
    box-shadow: 0px 1px 30px #939498;;
}

.container,
.iconContainer {
    display: flex;
}

.container {
    justify-content: space-between;
}

.iconContainer {
    gap: 15px;
}

.icon {
    width: 25px;
    height: 25px;
    fill: #fff;
}

p {
    color: #fff;
    text-transform: uppercase;
}