.item {
    display: grid;
    grid-template-columns: 1fr 3fr;
    align-items: center;
    gap: 10px;
}

.textContainer {
    display: flex;
    flex-direction: column;
}

.icon {
    width: 20px;
    height: 20px;
}

.text {
    font-size: 12px;
}